# Android/웹 동일 Firebase 프로젝트: smartexpense-55679
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB4Ys7qg4CFfT7osRBX2aepV_zTdptd9fY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=smartexpense-55679.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=smartexpense-55679
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=smartexpense-55679.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=236502031143
NEXT_PUBLIC_FIREBASE_APP_ID=1:236502031143:web:79f1a3076ace60e9182702
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KLZ50HWBYJ
NEXT_PUBLIC_GOOGLE_WEB_CLIENT_ID=236502031143-q87kphe946cp3amhbusliai7dmm7ekkp.apps.googleusercontent.com
